<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div><a href="/" id="logo"><span>UET</span>OT</a></div>
            <ul class="menu first-menu">
                <li class="menu-item"><a href="/">Trang chủ</a></li>
                <li class="menu-item"><a href="/"></a>Thông báo</li>
                <li class="menu-item"><a href="/">Danh mục</a></li>
                <li class="menu-item"><a href="/">Giới thiệu</a></li>
                
            </ul>
            <form action="/search" method="get">
                <div class="form-input">
                    <input type="search" placeholder="Tìm kiếm..." name="keyword" id="key-search">
                    <button class="search-btn" aria-label="search-btn" type="submit"><i class='bx bx-search-alt-2'></i></button>
                </div>
            </form>
            <input type="checkbox" name="" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
        </nav>

        <div class="navbar second-navbar" hidden>
            <ul class="menu second-menu">
                <li class="menu-item"><a href="/">Trang chủ</a></li>
                <li class="menu-item"><a href="/"></a>Thông báo</li>
                <li class="menu-item"><a href="/">Danh mục</a></li>
                <li class="menu-item"><a href="/">Giới thiệu</a></li>
               
            </ul>
            
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>