<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.login.css">
    <title>Đăng nhập SummerSchool</title>
</head>
<body>
    
    <div class="circle"></div>
    <div class="card">
        <div class="logo">
            <img src="/image/logo.png" alt="golo" width="64px">
        </div>
        <h2>Đăng nhập</h2>
        <form class="form" id="login-form">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name='password' placeholder="Password">
            <button type="submit">Đăng nhập</button>
        </form>
        <footer>
            Chưa có tài khoản, đăng kí
            <a href="/signup">ở đây</a>
        </footer>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>