<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.signup.css">
    <title>Đăng kí tài khoản</title>
</head>
<body>
    
    <div class="circle"></div>
    <div class="card">
        <div class="logo">
            <img src="/image/logo.png" alt="golo" width="64px">
        </div>
        <h2>Đăng kí tài khoản</h2>
        <form class="form" id="signup-form">
            <input type="text" placeholder="Name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Nhập mật khẩu mới" name="password" id="password" required>
            <input type="password" placeholder="Nhập lại mật khẩu" id="repassword" required>
            <span id="repassword-message" class=""></span>
            <button type="submit">Đăng kí</button>
        </form>
        <footer>
            Đã có tài khoản, đăng nhập
            <a href="/login">ở đây</a>
        </footer>
    </div>
    <script src="/js/signup.js"></script>
</body>
</html>